In [8]:
import pandas as pd
from IPython.display import display
from pathlib import Path
from decimal import Decimal

df = pd.read_csv(Path('avis') / 'avis.mmo', encoding='cp1251', sep='\t', names=range(23))
df_head = df[:3]
df_body = df[3:]
df_body[19] = df_body[19].apply(lambda x: float(Decimal(x/1.2).quantize(Decimal('1.00'))))
df_body[20] = df_body[19] * df_body[15]
df = df_head.append(df_body, ignore_index=True)
#df.to_csv(Path('pg_new.mmo'), encoding='cp1251', sep='\t', index=False, header=False)
display(df)

/tmp/ipykernel_17402/3210212186.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_body[19] = df_body[19].apply(lambda x: float(Decimal(x/1.2).quantize(Decimal('1.00'))))
/tmp/ipykernel_17402/3210212186.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_body[20] = df_body[19] * df_body[15]

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,РАСХОДНАЯ_НАКЛАДНАЯ,33573284,2359720536,версия_3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30134,26.03.2021,0,"Товариство з обмеженою відповідальністю ""БЛЕЙД Н""","АТ ""Райффайзен банк Аваль""",UA583808050000000026009420797,380805.0,"(0512) 720247, 720248","Украина, 54037, м. Миколаїв, вул. 295 Стрілец...",NaN,...,26.03.2021,1,1.0,2.00,NaN,NaN,NaN,NaN,NaN,NaN
2,"пгт Каланчак, ул. Ленина,17/1,""Аптека Наша"",м....",NaN,CONTRACT=2926х19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4820199500084,Суміш суха молочна з пребіотиками та нуклеотид...,NaN,Малютка,4820199500084,NaN,NaN,NaN,20,NaN,...,NaN,шт,5.0,75.58,75.58,0.0,62.98,314.9,1.901100e+09,NaN
4,4820199500091,Суміш суха молочна з пребіотиками та нуклеотид...,NaN,Малютка,4820199500091,NaN,NaN,NaN,20,NaN,...,NaN,шт,5.0,79.06,79.06,0.0,65.88,329.4,1.901100e+09,NaN